<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="wf_VideoMarket.Properties.Settings.VideoMarketConnRapor"
            connectionString="Data Source=WISSEN-PC\MSSQL2016;Initial Catalog=VideoMarket;User ID=sa;Password=123416"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>